/* colours */
:root {
  --primary: #1278f5;
  --secondary: #94b9f1;
  --title: #faf8f6;
}

/* layout styles */
nav {
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a {
  text-transform: uppercase;
  color: var(--title);
}
nav a span {
  font-weight: bold;
}
nav .sidenav-trigger {
  margin: 0;
}


/*  styles */

.card {
  margin-top: 20px;
}

.card-content {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px #2402fd;
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}

.card-title {
  font-weight: bold;
}

/* form-styles */
.add-btn {
  background: var(--title) !important;
}
input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button {
  background: var(--title);
  box-shadow: 1px 1px 3px #525355;
}
form .input-field {
  margin-top: 30px;
}